.link1 {
    color: rgb(71, 169, 255);
    border-width: 5px;
    border-style: solid;
    border-color: seagreen;
    border-radius: 35px;
    padding: 8px;
}

.linksWrapper {
    margin-top: 36px;
}

@media (min-width: 768px) {
    .link1 {
        color: rgb(0, 112, 209);
    }
}