.linkButton {
    background-color: black;
    padding: 0.2rem;
    transition: all 0.1s ease-in-out;
    width: 8rem;
    font-size: 16px;
}

.linkButtonM {
    background-color: black;
    padding: 0.2rem;
    transition: all 0.1s ease-in-out;
    width: 8rem;

    border-color: yellow;
    border-width: 2px;
    border-style: solid;

    font-size: 16px;
}

.linkButton:hover {
    background-color: whitesmoke;
}

.linkButtonM:hover {
    background-color: whitesmoke;
}

.linksWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.linkButton {
    background-color: rgb(0, 0, 0);
    padding: 0.2rem;
    transition: all 0.1s ease-in-out;
    width: 8rem;
}

.linkButton:hover {
    background-color: aliceblue;
}



@media (prefers-color-scheme: dark) {
    .linkButton {
        background-color: aliceblue;
    }

    .linkButtonM {
        background-color: aliceblue;
    }

    .linkButton:hover {
        background-color: black;
    }

    .linkButtonM:hover {
        background-color: black;
    }
}