h1 {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 100px;
    margin: 0;
}

h2 {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 60px;
    margin: 0;
}

@media (prefers-color-scheme: dark) {}

@media (min-width: 768px) {
    h1 {
        font-size: 200px;
    }

    h2 {
        font-size: 130px;
        margin: 0;
    }
}