#root {
  color: olivedrab;
  text-align: center;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  max-width: 100%;
}

h1 {
  font-family: "Rawgly", sans-serif;
  font-size: 64px;
  letter-spacing: 12px;
  margin: 0;
  align-self: center;
}

h2 {
  font-family: "Rawgly", sans-serif;
  font-size: 32px;
  letter-spacing: 6px;
  margin: 0;
}

@font-face {
  font-family: "Rawgly";
  src: url("./assets/Fonts/Rawgly-Regular.woff2") format("woff2"),
    url("./assets/Fonts/Rawgly-Regular.woff") format("woff");
}


@media (min-width: 768px) {
  main {
    display: flex;
  }

  #root {
    color: orchid;
  }

  h1 {
    font-family: "Rawgly", sans-serif;
    font-size: 132px;
    letter-spacing: 12px;
    margin: 0;
  }

  h2 {
    font-family: "Rawgly", sans-serif;
    font-size: 32px;
    letter-spacing: 6px;
    margin: 0;
  }
}